html, body {
 margin: 0;
 padding: 0:
}

body {
 background: #f0f0f0;
 font: 14px/1.3 Roboto, Arial, sans-serif;
 min-width: 980px;
}
/* Common styles. */

.center-wrapper {
 box-sizing: border-box;
 margin: 0 auto;
 max-width: 957px;
}

.clearfix::after {
"css/main.css" 670L, 10854C
