html, body {
 margin: 0;
 padding: 0:
}

body {
 background: #ffffff;
 font: 14px/1.3 PT Sans, Arial, sans-serif;
 min-width: 980px;
}

.comments {
	font-size: 18px;

}
/* Common styles. */

.center-wrapper {
 box-sizing: border-box;
 margin: 1000 auto;
 max-width: 957px;
}

.clearfix::after {
"css/main.css" 670L, 10854
new
